@import "../node_modules/tailwindcss/index.css";
@plugin "../node_modules/tailwindcss-animate/index.js";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #0B1020;
  --surface: #161E2E;
  --surface-hover: #1C263B;

  --primary: #8DFF00;
  --primary-dark: #6FD400;

  --text: #F8FAFC;
  --text-secondary: #94A3B8;

  --border: #28334B;
}

body {
  background: var(--background);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-border: var(--border);
}
